@model BirdsiteLive.Services.CachedStatistics
@{
    ViewData["Title"] = "About";
}

<div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto">
    <h2>Service load</h2>

    <p>
        <br/>
        There are @Model.FediverseUsers fediverse users following @Model.TwitterUsers twitter users<br/>
        <br/>
    </p>

</div>