@model BirdsiteLive.Models.StatisticsModels.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<h4>Instance</h4>
<ul>
    <li>Twitter Users: @Model.TwitterUserCount</li>
    <li>Failing Twitter Users: @Model.FailingTwitterUserCount</li>
    <li>Followers: @Model.FollowersCount</li>
    <li>Failing Followers: @Model.FailingFollowersCount</li>
</ul>
