apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: dotmakeup
spec:
  selector:
    matchLabels:
      app: dotmakeup 
  serviceName: "dotmakeup"
  replicas: 3 
  minReadySeconds: 10 
  template:
    metadata:
      labels:
        app: dotmakeup 
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - dotmakeup
              topologyKey: "kubernetes.io/hostname"
      terminationGracePeriodSeconds: 30
      containers:
        - name: dotmakeup
          image: cloutier/bird.makeup:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: web
          resources:
            requests:
              memory: "900Mi"
              cpu: "500m"
          env:
            - name: Instance__domain
              value: "bird.makeup"
            - name: Instance__Name
              value: "bird.makeup"
            - name: Instance__ParallelTwitterRequests
              value: "2"
            - name: Instance__ParallelFediversePosts
              value: "10"
            - name: Instance__UserCacheCapacity
              value: "50000"
            - name: Instance__TweetCacheCapacity
              value: "50000"
            - name: Instance__MultiplyNByOrdinal
              value: "true"
            - name: Instance__n_start
              value: "0"
            - name: Instance__n_end
              value: "25"
            - name: Instance__m
              value: "100"
            - name: db__type
              value: "postgres"
            - name: db__host
              valueFrom:
                secretKeyRef:
                  name: dotmakeup-db
                  key: host
            - name: db__port
              value: "20184"
            - name: db__name
              valueFrom:
                secretKeyRef:
                  name: dotmakeup-db
                  key: name
            - name: db__user
              valueFrom:
                secretKeyRef:
                  name: dotmakeup-db
                  key: user
            - name: db__password
              valueFrom:
                secretKeyRef:
                  name: dotmakeup-db
                  key: password
            - name: ApplicationInsights__ConnectionString
              valueFrom:
                secretKeyRef:
                  name: dotmakeup-app-insights
                  key: ConnectionString
                  optional: true
          volumeMounts:
            - mountPath: "/app/secrets"
              name: key
              readOnly: true
          livenessProbe:
            httpGet:
              path: /About
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - cp /app/secrets/key.json /app/key.json
      volumes:
        - name: key
          secret:
            secretName: dotmakeup-key
---
apiVersion: v1
kind: Service
metadata:
  name: dotmakeup
spec:
  type: NodePort
  selector:
    app: dotmakeup
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30500